* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

/************************** COMMON   ******************/
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 18px 16px;
  min-width: 98px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  background: var(--primary-color);
  color: #ffffff;
}

.btn:hover {
  opacity: 0.9;
}

body {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

/************************** HEADER ******************/
.header {
  position: relative;

  background: #e6f0ff;
  height: 100vh;
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action-link {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--primary-color);
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

/********************* Hero ****************/
.hero {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}

.hero .info {
  /* 559/1110 */
  width: 51%;
}

.hero .title {
  font-size: 6.4rem;
  font-weight: 700;
  margin-top: 8px;
  line-height: 1.19;
  color: #000336;
}

.hero .sub-title {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 30px;
  line-height: 1.5rem;
  letter-spacing: 0.01em;
  color: #687690;
}

.hero .desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 178%;
  margin-top: 30px;
  color: #5a6473;
}

.hero .hero-ctn {
  min-width: 170px;
  margin-top: 40px;
}

.hero-img {
  position: absolute;
  bottom: 0px;
  right: calc((100vw - 1110px) / 2 - 100px);
  height: 631px;
}

/***************************************** Clients **********/
.clients {
  margin-top: 79px;
  padding: 43px 0px 41px;
}
.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .desc {
  font-size: 1.6rem;
  font-weight: 500;
  color: #7d8589;
}

.clients .images {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/************************* HOW IT WORKS *******/
.guides {
  margin-top: 40px;
  padding: 93px 0px 79px;
}

.guides .sub-title {
  position: relative;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: #000339;
}

.guides .sub-title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.guides .desc {
  width: 459px;
  max-width: 100%; /* Neu nho hon 459px thi khong co ra*/
  margin: 20px auto 0px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.875; /* 187.5% */
  color: #5a6473;
}

.guides .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-guide {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-guide .guide-item {
  margin: 0px 70px;
  text-align: center;
}

.list-guide .title {
  margin-top: 26px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1; /* 110% */
  color: #3b3c45;
}

.list-guide .link {
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  color: #0689ff;
}

.guide-item .arrow {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/**************************** Featured **********/
.featured {
  margin-top: 41px;
  padding: 100px 0px;
  background: #f5fafe;
}

.featured .sub-title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  color: #000339;
}

.featured .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured .desc {
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.6rem;
  color: #5a6473;
  line-height: 187.5%; /* 187.5% */
}

.featured .link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: #0689ff;
}

.featured .arrow {
  margin-left: 8px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 68px;
}

.featured .list .item {
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 23px;
}

.featured .item .title a {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: #000339;
}

.featured .item .desc {
  --line-clamp:3
  margin-top: 11px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #a3a6ab;
  word-break: break-all;
  
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .item .label {
  margin-left: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5; /* 100% */
  letter-spacing: 0.01em;
  color: #4d4d52;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0px;
}

/************************ Stats **********/
.stats{
  margin-top: 75px;
  padding: 50px 0px;
}

.stats .content{
  width: 1017px;
}


.stats .row{
  display: flex;
}

.stats .img-block,
.stats .infor{
  width: 50%;
}

.stats .img-block{
  position: relative;
}

.stats .img-block .image{
  display: block;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 20px;
  margin-left: auto;
}

.stats .infor{
  padding: 79px 0 0 165px;
}

.stats .infor .sub-title{
  width: 269px;
  position: relative;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 128.571%; /* 128.571% */  
  color: #000339;
}

.stats .infor .sub-title::before{
  position: absolute;
  left: 0px;
  top:-10px;
  border-radius: 12px;
  content:"";
  display: inline-block;
  background: #000339;
  width: 41px;
  height: 4px;
}

.stats .infor .desc{
  width: 309px;
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%; /* 187.5% */
  color: #5A6473;
}

.stats .stats-trend{
  padding: 45px 22px 44px;
  position: absolute;
  left: 0;
  top: 0;
  width: 46%;
  background-color: #fff;
  border-radius: 0px 0px 12px 12px;

}

.stats .stats-trend .value{
  
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1; /* 100% */
  letter-spacing: 0.01em;
  color: #000339;
}

.stats-trend .icon{
  margin-left: auto;
}

.stats-trend .desc{
  margin-top: 8px;
  color: #A7A7A7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */

}

.stats-trend .separate{
  width: 193.62px;
  height: 1.2px;
  background-color:  #E9E9E9;
  margin-top: 25.51px;
}

.stats-trend .avatar-block{
  margin-top: 26px;
  display: flex;
  gap: 16.34px 14px;
  flex-wrap: wrap;
}

.stats-trend .avatar-group{
  display: flex;
}

.stats-trend .avatar-group .avatar{
  width: 16.3px;
  height: 16.3px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -3px;
}

.stats-trend .avatar-group .avatar:first-child{
  margin-left: 0;
}

.stats-trend .avatar-unknown{
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 0.7rem;
  font-weight: 450;
  color: #FFF;
  background: #1F3BB1;;
}

.stats .row-qty{
  margin-top: 110px;
  padding-left: 32px;
  align-items: center;
  justify-content: space-between;
}

.stats .qty-item .qty{
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: #000;
}

.stats .qty-item .qty-desc{
  margin-top: 22px;
  font-size: 1.8ren;
  font-weight: 500;
  
  color: #7B8087;
}

/****************************** Subscription **********/
.subscription{
  margin-top: 90px; 
}

.subscription .body{  
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #063183;
  height: 370px;
  
}

.subscription .info{
  width: 671px;
  padding: 0px 90px 0 80px;
}

.subscription .sub-title{  
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5; /* 100% */
  color: #FFF;

}

.subscription .desc{
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  color: #FFF;
  opacity: 0.75;
}

.subscription .btn{
  margin-top: 20px;
  color: #002366;
  background-color: #fff;
  min-width: 151px
}

.subscription .image{
  position: absolute;
  right:231.54px;
  bottom: 0;
  z-index: 1;
}

/************** Footer ****************/
.footer .row{
  display: flex;
}

.footer .row-top,.footer .desc{
  gap:185px;
}

.footer{
  margin-top: 55px;
  padding:50px 165px 58px;
}

.footer .column .heading{
  font-family: Lato;
  font-size: 2rem;
  font-weight: 700;
  color: #1C1C1D;
}


.footer .column .item,.footer .desc
{
  
  font-size: 1.6rem;
  font-weight: 400;
  color: #7A7A7E;
}

.footer .list, .footer .desc{
  margin-top: 42px;
}

.footer .item{
  margin-top: 18px;
  display: inline-block;
  white-space: nowrap;
}

.footer .list li:first-child .item{
  margin-top: 0;
}

.footer .desc{
  margin-top: 34px;
  line-height: 1.75;
}

.footer .social{
  margin-top: 40px;
}

.footer .row-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 81px;
}

.footer .copyright{
  
  font-size: 1.4rem;
  font-weight: 400;
  color: #C2C2C2;

}